// Define variables for easy customization
$navbar-font: "Press Start 2P", cursive;
$navbar-link-color: #0fd850;
$base-color-start: #121212;
$base-color-end: #232323;
$accent-color: #0fd850;

.navbar {
  background: linear-gradient(to right, $base-color-start, $base-color-end);
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-family: $navbar-font;
  padding-right: 16px;

  .navbar-links {
    display: flex;
    gap: 1rem;
    margin-bottom: 2px;

    a {
      text-decoration: none;
      color: $navbar-link-color;
      text-transform: uppercase;
      border: 2px solid $navbar-link-color;
      padding: 0.5rem 1rem;
      transition: background 0.3s, color 0.3s;

      &:hover {
        background: $navbar-link-color;
        color: $base-color-start;
      }
    }
  }

  .spirit-stones {
    font-size: 1.2rem;
    display: flex;
    align-items: center;
  
    .diamond-icon {
      margin-right: 0.1rem;
      font-size: 16px;
      position: relative;
      width: 21px;
      height: 12px;
      
      &::before {
        content: "";
        position: absolute;
        top: -9px; /* Adjust the positioning as needed */
        left: -6px; /* Adjust the positioning as needed */
        background-image: url('../../../assets/svgs/diamonf.svg'); /* Update with the correct path */
        width: 26px; /* Adjust the width and height to match your SVG */
        height: 26px; /* Adjust the width and height to match your SVG */
        background-size: cover;
      }
    }
  }
}
